.elementoPrincipal {
    display: flex;
    margin: auto;
    margin-top: 6%;
    align-self: center;
    width: 30%;
    height:450px;
    background-color: #0eab6e;
    border-radius: 54px;
    font-family: 'Inter', sans-serif;
    color: white;
    align-items: center;
    flex-direction: column;
   
  
}

.entrarBotao {
    background-color: #bbda9a;
    border: 1px solid #bbda9a;
    border-radius: 9px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    height: 25px;
    width: 70px;
}

text {
    margin-top: 60px;
    font-size: 25px ;
    font-weight: bold;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espaçamento entre os botões */
    width: 300px;
    margin-top: 35px;
}

.textCaixa {
    height: 30px;
    background-color: white;
    font-size: 17px;
    font-weight: bold;
    color: black;
    border: 1px solid white ;
    border-radius: 5px;

}

.button-container {
    display: flex;
    justify-content: center;
    gap: 50px; /* Espaçamento entre os botões */
    margin-top: 20px;
}

.circle-button {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.circle-button:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.circle-image {
    width: 50%;
    height: 50%;
    object-fit: contain;
   
}


p {
font-size: 12px;
font-weight: bold;
color: #c3c3c3;

}