body {
    background-color:rgb(255, 255, 255);
}

/* WaveBackground.css */
.wave-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1; /* Certifique-se de que está atrás do conteúdo */
}

.wave {
  position: absolute;
  bottom: 0;
  width: 300px;
  height: 300px; /* Ajuste conforme necessário */
  background: #bbda9a;
  border-radius: 50%;
  opacity: 100; /* Transparência da onda */
  transform: translateX(-5%);
  margin-left: 70%;

}

.elementoPrincipal {
    display: flex;
    margin: auto;
    margin-top: 6%;
    align-self: center;
    width: 30%;
    height:450px;
    background-color: #0eab6e;
    border-radius: 54px;
    font-family: 'Inter', sans-serif;
    color: white;
    align-items: center;
    flex-direction: column;
   
  
}

.entrarBotao {
    background-color: #bbda9a;
    border: 1px solid #bbda9a;
    border-radius: 9px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    height: 25px;
    width: 70px;
    margin-top: 10px;
}

text {
    margin-top: 60px;
    font-size: 25px ;
    font-weight: bold;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espaçamento entre os botões */
    width: 300px;
    margin-top: 35px;
}

.textCaixa {
    height: 30px;
    background-color: white;
    font-size: 17px;
    font-weight: bold;
    color: black;
    border: 1px solid white ;
    border-radius: 5px;

}

.textCaixa::placeholder {
    color: #dedede;
    padding-left: 5px;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 50px; /* Espaçamento entre os botões */
    margin-top: 20px;
}

.circle-button {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.circle-button:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.circle-image {
    width: 50%;
    height: 50%;
    object-fit: contain;
   
}


p {
font-size: 12px;
font-weight: bold;
color: #c3c3c3;

}

.botaoCadastro {
background-color: transparent;
color: #c3c3c3;
font-weight: bold;
font-size: 15px;
border: 1px solid transparent;
margin-top: 30px;
}

.esqueceuSenha {
background-color: transparent;
color: #c3c3c3;
font-weight: bold;
font-size: 15px;
border: 1px solid transparent;
margin-top: 5px;
margin-left: 160px;

}



