body {
    background-color: white;
    font-family: 'Inter', sans-serif;
}


.itensCentro {
  display: flex;
  align-items: center;
  justify-content: center;
}


.titulo {
    color: #47ac5d;
    font-size: 35px;
    font-weight: bold; 
    margin-top: 80px;

}